body{
	font-family: 'Special Elite', Verdana, Geneva, sans-serif;
	color: #444444;

}


.jumbotron{
	background-color: #d5d9e0;
	color: #444444;
	font-family: 'Abril Fatface', "Times New Roman", serif;
	margin-bottom: 1%;
	padding-top: .5%;
	padding-bottom: 2%;
}

@media screen and (max-width: 767px){
	img{
		width: 50% !important;
	}
	.left{
		padding-top: 20px;
	}

}

