body{
	font-family: 'Special Elite', Verdana, Geneva, sans-serif;
	color:rgb(233, 126, 88);
	
	background-color: black;
	

}


.jumbotron{
	
	font-family: 'Abril Fatface', "Times New Roman", serif;
	margin-bottom: 1%;
	padding-top: .5%;
	padding-bottom: 2%;
	background-color: darkgrey;
    width: 900px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

@media screen and (max-width: 767px){
	img{
		width: 150% !important;
	}
	.left{
		padding-top: 220px;
	}

}

h2{
	font-family: 'Sigmar One', Verdana, Geneva, sans-serif;
	color: grey;
}

img{
	border-radius: 0px;
	width: 175%;
	
}

#currentWord, #guessesLeft, #lettersGuessed, #wins, #losses{
	font-size: 42px;
}

.left{
	background-color: darkgrey;
	border-radius: auto;
	box-sizing: border-box;
    width: 50%;
    border: 25px solid green;
    float: left;
}

.right{
	padding-right: 30px;
	float:left
	
}

.row{
	border-radius: 6px;
}


.row.match-my-cols {
    overflow: hidden; 
}

